.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top20 { margin-top:20px; }
.top40 { margin-top:40px; }

thead { display: table-header-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }
